.activities-container {
    .title-bar {
        background-color: #45c7de;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .label {
        padding-left: 10px;
        font-weight: bold;
        color : white;
    }

    .add-button {
        background-color: #edba61;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
    }
}