.activity {
    * { 
        display: flex;
        background-color: white;
        flex-direction: column;
    }

    .activity-row {
        margin-left: 10px;
        margin-top: 3px;
        margin-bottom: 3px;
        display: flex;
        flex-direction: row;
    }

    .activity-icon {
        background-repeat: no-repeat;
        margin-right: 10px;
    }

    .activity-name {
        flex: 30;
        font-size: 20pt;
        font-weight: bold;
        margin-right: 10px;
    }

    .activity-current-nmem-vacant {
        font-weight: bold;
        color: yellowgreen;
    }
    
    .activity-current-nmem-full {
        font-weight: bold;
        color: red
    }

    .add-friend-margin {
        margin-right: 10px;
    }
}

.modal-content {
    .activity-row {
        margin-top: 12px;
    }
}