.activity {
    * { 
        display: flex;
        background-color: white;
        flex-direction: column;
    }

    .activity-row {
        margin-left: 10px;
        margin-top: 3px;
        margin-bottom: 3px;
        display: flex;
        flex-direction: row;
    }
    .activity-row:first-child {
        border-bottom: rgba(204, 204, 204, 0.5) solid 1px;
        padding-bottom: 6px;
    }

    .activity-icon {
        background-repeat: no-repeat;
        margin-right: 10px;
    }

    .activity-name {
        flex: 30;
        font-size: 20pt;
        font-weight: bold;
        margin-right: 10px;
    }

    .activity-current-nmem-vacant {
        font-weight: bold;
        font-size: 15pt;
        color: yellowgreen;
    }
    
    .activity-current-nmem-full {
        font-weight: bold;
        font-size: 15pt;
        color: red
    }

    .right-margin-10 {
        margin-right: 10px;
    }

    .right-margin-20 {
        margin-right: 40px;
    }

    .add-friend-margin {
        margin-right: 10px;
    }
}

.modal-content {
    .activity-row {
        margin-top: 12px;
    }
}