.default-calendar {
    *{    
        background-color: white;
        border: none;
    }
    background-color: white;
    padding: 6px;
    border-radius: 12px;
}
.react-calendar__month-view__days__day--neighboringMonth{
    color: $textTwo;
}