.home-page {
    margin-top: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    min-width: 1080px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    .left-wrapper {
        width: calc(20% - 6px);
        height: fit-content;
    }
    .right-wrapper {
        width: calc(80% - 6px);
        height: fit-content;
    }
}

.join-btn{
    position: absolute;
    width: fit-content;
    right: 30px;
    bottom: 18px;
    z-index: 2;
}