.icon-24{
    width: 24px;
    height: 24px;
}

.notification-icon {
    background-image: url(../assets/icons/notifications_24px.svg);
}
.person-icon {
    background-image: url(../assets/icons/person_24px.svg);
}

.white-notification-icon {
    background-image: url(../assets/icons/notifications_24px_white.svg);
}