.icon-24{
    width: 24px;
    height: 24px;
}
.pointer {
    cursor: pointer;
}
.notification-icon {
    background-image: url(../assets/icons/notifications_24px.svg);
}
.person-icon {
    background-image: url(../assets/icons/person_24px.svg);
}

.white-notification-icon {
    background-image: url(../assets/icons/notifications_24px_white.svg);
}
.white-person-icon {
    background-image: url(../assets/icons/person_24px_white.svg);
}
.login-icon {
    background-image: url(../assets/icons/login-white-24dp.svg);
}
.logout-icon {
    background-image: url(../assets/icons/logout-white-24dp.svg);
}
.add-icon {
    background-image: url(../assets/icons/add-white-24dp.svg);
}
.add-friend-icon {
    background-image: url(../assets/icons/person_add_24dp.svg);
}
.football-icon {
    background-image: url(../assets/icons/football-icon.png);
}
.badminton-icon {
    background-image: url(../assets/icons/badminton-icon.png);
}
.basketball-icon {
    background-image: url(../assets/icons/basketball-icon.png);
}