.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #45c7de;
    padding: 12px;
    box-shadow: 0 2px 2px rgba($color: black, $alpha: 0.2);
    color: white;
    .left-content{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        >*{
            margin-right: 12px;
        }
    }
    .right-content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        >*{
            margin-left: 12px;
        }
    }
}